body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 1rem;
    width: 200px;
    height: 30.5rem;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 0.5rem 0;
}

.sidebar nav ul li a {
    color: #333;
    text-decoration: none;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    padding: 1rem;
}

.content h2 {
    margin-top: 0;
}
.box{
    width: 97%;
    height: 8rem;
    background-color: #333;
    padding: 10px;
    border-radius: 15px;
    display: flex;
}
.box1{
    width: 20rem;
    height: 8rem;
    background-color: white;
    border-radius: 15px;
    margin-right: 10px;
}
.box2{
    width: 20rem;
    height: 8rem;
    background-color: white;
    border-radius: 15px;
    margin-right: 10px;
}
.box3{
    width: 20rem;
    height: 8rem;
    background-color: white;
    border-radius: 15px;
}